.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after{
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(50%);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    } 
}
#awardknc {
    background-image: url('./images/awards/knc.jpg');
    background-repeat: no-repeat;
}
#awardsSHS {
    background: rgb(128,0,0);
    background: linear-gradient(0deg, rgba(128,0,0,1) 0%, rgba(157,49,0,1) 44%, rgba(186,97,0,1) 75%, rgba(210,138,0,1) 100%, rgba(233,177,0,1) 100%, rgba(255,215,0,1) 100%);
}
#awardsJHS {
    background: rgb(1,73,0);
    background: linear-gradient(0deg, rgba(1,73,0,1) 0%, rgba(70,143,62,1) 50%, rgba(181,255,160,1) 100%);
}
#expBread {
    background: rgb(6,0,121);
    background: linear-gradient(0deg, rgba(6,0,121,1) 0%, rgba(166,180,51,1) 100%);
}
#fb {
    padding: .75em;
    border: 1px #ddd solid;
    background: linear-gradient(to right, #4267B2, #4267B2);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s 0s;
}

#fb:hover {
    background-size: 100% 100%;
} 
#link {
    padding: .75em;
    border: 1px #ddd solid;
    background: linear-gradient(to right, #0A66C2, #0A66C2);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s 0s;
}
#link:hover {
    background-size: 100% 100%;
}
#pdf {
    padding: .75em;
    border: 1px #ddd solid;
    background: linear-gradient(to right, #9f0000, #9f0000);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s 0s;
}
#pdf:hover {
    background-size: 100% 100%;
}
#autoAcad {
    background: rgb(255,138,243);
    background: linear-gradient(0deg, rgba(255,138,243,1) 0%, rgba(255,224,253,1) 100%);
}
#invi {
    background: rgb(222,134,0);
    background: linear-gradient(0deg, rgba(222,134,0,1) 0%, rgba(228,210,0,1) 100%);
}
#qunnecter {
    background: rgb(164,172,255);
    background: linear-gradient(0deg, rgba(164,172,255,1) 0%, rgba(220,218,255,1) 100%);
}